body {
    margin: 0;
    font-family: sans-serif;
    background: blanchedalmond;
}

nav {
    width: 100%;
    display: flex;
    column-gap: 15px;
    padding: 15px;
    background-color: #EEE;
    box-shadow: 0 2px 3px #3338;
}

main {
    padding: 30px;
}

ul {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    border: 2px solid #AAA;
    width: 250px;
    padding: 10px;
    box-shadow: 0 0 2px 1px #AAAC;
}

li {
    margin-left: 20px;
    color: #333;
}

.button {
    cursor: pointer;
    margin-left: 2em;
    background: rgb(157, 157, 255);
    border: none;
    border-radius: 3px;
    padding: 5px 15px;
    color: black;
    box-shadow: -2px 2px 2px rgb(148, 148, 208);
}